<div class="card">
    <div class="card-header m_color_primary text-center my_title">
        Báo cáo thống kê
    </div>
    <div class="card-body p-0 overflow-auto">
        <mat-accordion>
            <mat-expansion-panel class="p-0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Đơn hàng
                    </mat-panel-title>
                    <mat-panel-description>
                        Các thống kê về hóa đơn xuất
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-baocao-donhang></app-baocao-donhang>
            </mat-expansion-panel>
            <mat-expansion-panel class="p-0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Sản phẩm
                    </mat-panel-title>
                    <mat-panel-description>
                        Các thống kê về sản phẩm
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-baocao-sanpham></app-baocao-sanpham>
            </mat-expansion-panel>
            <mat-expansion-panel class="p-0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Khách hàng
                    </mat-panel-title>
                    <mat-panel-description>
                        Các thống kê về khách hàng
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-baocao-khachhang></app-baocao-khachhang>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
</div>